{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<!-- Header -->

<!-- Get Touch Section -->
<div id="testimonials">
  <div class="container">
    <div class="section-title">
      <h2>Testimonials</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="{% static 'Aryan.jpg' %}" style="width: 30" "height: 30;" alt=""> </div>
          <div class="testimonial-content">
            <p>"Project Developer"</p>
            <div class="testimonial-meta"> - Aryan Patel </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="{% static 'Monish.jpg' %}" alt=""> </div>
          <div class="testimonial-content">
            <p>"Project Report Manager and Analyzer"</p>
            <div class="testimonial-meta"> - Monish Patel </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="img/testimonials/03.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Project Report Analyzer"</p>
            <div class="testimonial-meta"> - Aakanksha Shah </div>
          </div>
        </div>
      </div>
      <div class="row"> </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="img/testimonials/04.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Project Report Developer"</p>
            <div class="testimonial-meta"> - Nirali Patel </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="img/testimonials/05.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Project Report Developer"</p>
            <div class="testimonial-meta"> - Amisha Chauhan </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}